html,
body {
    height: 100%;
}

#app {
    font-family: Arial, Helvetica, sans-serif;

    a {
        text-decoration: none;

        &.back-button {
            background: #2f2f2f;
            color: #fff;
            padding: 10px 20px;
            display: inline-block;

            &:hover {
                background-color: goldenrod;
            }
        }
    }
}

#app,
.app-container,
.dev-container {
    height:inherit;
}

.col {
    position: relative;
    float: left;
}

.clearfix {
    clear: both;

    &::after {
        content: "";
        clear: both;
        display: table;
    }
}

.tool-bar {
    margin: 20px 0;
    padding: 20px;
    background-color: #eee;

    a,
    button {
        color: #fff;
        background-color: #2f2f2f;
        padding: 7px 10px;
        cursor: pointer;
        border: none;
        font-size: 1em;
        margin-right: 20px;
        outline: none;

        &:hover {
            text-decoration: none;
            background-color: green;
        }
    }
}